#network-graph {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: absolute;
}

form{
    display: flex;
    flex-direction: column;
    width: 100px;
    z-index: 99999999;
} 
   
input{
    margin: 5px 0;
}

.none{
    display:none; 
}

.flex {
    display: flex;
}

.flex input {
    margin: 5px;
    width: 30px;
}

.form-cetka {
    display: flex;
    align-items: center;
}

.cetka {
    margin-left: 30px;
}